.b1{
    background-color: blueviolet;
    color: blanchedalmond;
    text-align: center;
    
}
.b2{
    background-color: blanchedalmond;
    color:  blueviolet;
    text-align: center;
    
}
.b3{
    background-color:black;
    color:white;
    text-align: center;
    
}